@font-face {
    font-family: "CaskaydiaCove Nerd Font";
    src: url(./assets/fonts/CaskaydiaCoveNerdFont-Regular.ttf);
}

:root {
    --bg-green:#07EFAD;
    --bg-black:#2D3436;
    --font:"CaskaydiaCove Nerd Font";
}

* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    padding: 0;
    margin: 0;
    border:0;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 20px;
    background: var(--bg-black);
}

.box {
    border: 5px solid var(--bg-green);
    border-radius: 20px;
    width: 100%;
    height: 600px;
    background: rgb(35, 36, 36);
    padding: 20px;
    overflow: hidden;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.message > h2 {
    color: var(--bg-green);
    font-weight: bold;
}

.message p {
    color: white;
}


/* .box::before {
    content: "";
    position: absolute;
    left: -80%;
    top: -90%;
    width: 300%;
    height: 300%;
    background: url("./js.svg") 0 0 repeat space;
    transform: rotate(30deg);
    background-size: 100px 100px;
    z-index: 2;
} */

#form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

input {
    font-size: 20px;
}

input[type=text] {
    background-color: var(--bg-black);
    border: 4px solid var(--bg-green);
    color: white;
    border-radius: 20px;
    padding: 12px 20px;
    outline: none;
  }

  input[type=text]:focus {
    transform: scale(1.05);
    transition: all .5s ease-in-out;
  }

#name {
    height: 60px;
    text-align: center;
}

#text {
    width: 60%;
}

.submit {
    cursor: pointer;
    width:30%;
    background: var(--bg-green);
    font-size: 30px;
    color: var(--bg-black);
    font-weight: bold;
    border-radius: 15px;
    border: 0;
}

.submit:active {
    transform: scale(1.05);
}